@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


* {
	box-sizing: border-box;
	margin: 0;
}

body{
	font-size: 16px;
	font-family: "Inter", sans-serif;
	background-color: rgb(0, 0, 0);
	color: white;
	max-width: 1440px;
}

.header-bg{
	background: linear-gradient(to bottom, black, rgba(60, 60, 60, 0.515), black);
}
.header{
	margin: 20px 150px;
}

.navbar{
	display: flex;
	justify-content: space-between;
}

.brand-logo{
	font-size: 2em;
	font-style: italic;
	color: rgb(230, 83, 60);
	cursor: pointer;
}

.navbar-links{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	margin: 0;
	padding: 0;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 39px;
}

.nav-item {
	font-size: 1em;
	font-weight: bold;
	margin-right: 20px;
	cursor: pointer;
}

#active-item {
	background-color: rgb(230, 83, 60);
	padding: 10px 20px;
	border-radius: 39px;
}

.banner{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.banner-left{
	margin-top: 80px;
	width: 420px;
}

.banner-left h1{
	font-size: 4.5em;
	line-height: 100%;
}


.shape{
	font-family: 'Miama', sans-serif;
	font-size: 2em;
	font-weight: 300;
	background: transparent;
}

.banner-left p{
	margin: 20px 0px;
	font-size: 0.8em;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.5px;
}

.btn{
	font-size: 0.8em;
	color: white;
	font-weight: bold;
	width: 150px;
	height: 40px;
	padding: 10px 20px;
	border-radius: 42px;
	margin-right: 20px;
	cursor: pointer;
}
.btn-filled{
	background: rgb(230, 83, 60);
	border: none;
}
.btn-unfilled{
	background: transparent;
	border: 1px solid white;
}

.banner-right{
	position: relative;
}

.banner-right img{
	height:480px;
}

.sticker{
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.01);
	padding: 10px 15px;
}

.sticker h2{
	font-size: 1.5em;
}

.sticker p{
	font-size: 0.5em;
	color: rgba(255, 255, 255, 0.65);
	letter-spacing: 1px;
}

.sticker-top{
	position: absolute;
	top: 150px;
	right: 0px;
}

.sticker-bottom{
	position: absolute;
	bottom: 50px;
	left: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.fa-circle{
	color: rgb(230, 83, 60);
	font-size: 2em;
}

.section{
	margin: 100px 150px;
}

.habits{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.section-title{
	font-size: 2.rem;
	margin: 10px;
}

.section-secondary-title{
	font-size: 1em;
}
.section-description{
	font-size: 0.8rem;
	margin: 10px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 0.3px;
}

.habits-body{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.habits-img img{
	width: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.run{
	display: flex;
	justify-content: space-between;
	border-radius: 18px;
	background: rgb(34, 34, 34);
	padding: 25px;
}

.run-left{
	width: 400px;
}

.run-left button{
	margin-top: 10px;
}

.run-right img{
	width: 320px;
	height: 240px;
	border-radius: 18px;
}

.training-body{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.t-image{
	height: 200px;
}
.training-l1{
	display: grid;
	grid-template-columns: 0.75fr 1.5fr 0.75fr;
	position: relative;
}
.training-l2{
	display: grid;
	grid-template-columns: 1fr 0.8fr 1.2fr;
	position: relative;
}

.training-text-1{
	position: absolute;
	bottom: 20px;
	left: 10px;
	color: black;
}

.training-text-2{
	position: absolute;
	top: 20px;
	left: 280px;
}

.training-text-3{
	position: absolute;
	top: 150px;
	right: 100px;
}

.training-text-4{
	position: absolute;
	bottom: 150px;
	left: 100px;
}

.training-text-5{
	position: absolute;
	bottom: 20px;
	left: 380px;
}

.training-text-6{
	position: absolute;
	bottom: 20px;
	right: 200px;
}

.t-1{
	background: url(./images/exercise1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(6, 255, 210, 0.5);
}
.t-2{
	background: url(./images/exercise2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(255, 0, 0, 0.3);
}
.t-3{
	background: url(./images/exercise3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.t-4{
	background: url(./images/exercise4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.t-5{
	background: url(./images/exercise5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(66, 255, 0, 0.3);
}
.t-6{
	background: url(./images/exercise6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(0, 71, 255, 0.3);
}